@charset "UTF-8";
@font-face {
  font-family: PunctCJK;
  src: url(./fonts/PunctCJK.woff2);
}

@font-face {
  font-family: PunctCJK;
  font-style: italic;
  src: url(./fonts/PunctCJK-Italic.woff2);
}

@font-face {
  font-family: PunctCJK;
  font-weight: bold;
  src: url(./fonts/PunctCJK-Bold.woff2);
}

@font-face {
  font-family: PunctCJK;
  font-weight: bold;
  font-style: italic;
  src: url(./fonts/PunctCJK-BoldItalic.woff2);
}

@font-face {
  font-family: SourceHanSans;
  font-weight: 100 900;
  src: url(./fonts/SourceHanSansSC-VF.woff2);
}

@media print {
  @page {
    margin: 2.5cm 2cm;
  }
}

.outline-toc > .skip-number::before,
.outline-toc > .reference::before {
  display: none !important;
}

.markdown-body {
  font-size: 18px;
  font-family: PunctCJK, SourceHanSans;
  line-height: 1.8;
  letter-spacing: 0.015em;
  text-align: justify;
  margin: auto;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin: 1em 0;
}

.markdown-body h1:not(.show-number)::before,
.markdown-body h2:not(.show-number)::before,
.markdown-body h3:not(.show-number)::before,
.markdown-body h4:not(.show-number)::before,
.markdown-body h5:not(.show-number)::before,
.markdown-body h6:not(.show-number)::before {
  display: none !important;
}

.markdown-body h1 {
  font-size: 2.2em;
  font-weight: normal;
  page-break-before: always;
}

.markdown-body h1 + p {
  font-size: 1.2em;
  margin-top: -1.5em;
  margin-left: 1em;
}

.markdown-body h2 {
  font-size: 1.8em;
  font-weight: normal;
  page-break-before: always;
}

.markdown-body h2::before {
  content: counter(h2counter) !important;
  font-weight: bold;
  border-bottom: 4px solid #ffd000;
  margin-right: 0.75em;
  padding: 4px 6px;
}

.markdown-body h2.reference::before {
  display: none !important;
}

.markdown-body h3 {
  font-size: 1.4em;
}

.markdown-body h3::before {
  content: counter(h2counter) "." counter(h3counter) !important;
  margin-right: 1em;
}

.markdown-body h4 {
  font-size: 1.2em;
}

.markdown-body h4::before {
  display: none !important;
}

.markdown-body h5 {
  font-size: 1.1em;
}

.markdown-body h5::before {
  display: none !important;
}

.markdown-body h6 {
  font-size: 1em;
}

.markdown-body h6::before {
  display: none !important;
}

.markdown-body .table-of-contents {
  page-break-before: always;
  background-color: var(--g-color-96);
  padding: 1em 1.2em;
  width: fit-content;
}

.markdown-body .table-of-contents::before {
  content: '目录' !important;
  display: block;
  font-size: 1.6em;
}

.markdown-body .table-of-contents > ul,
.markdown-body .table-of-contents > ol {
  margin-bottom: 0;
}

.markdown-body .table-of-contents > ul li,
.markdown-body .table-of-contents > ol li {
  margin: 0;
}

.markdown-body .table-of-contents > ul li::before,
.markdown-body .table-of-contents > ol li::before {
  content: counters(ol-number, ".") !important;
  margin-right: 0.5em;
}

.markdown-body mark {
  padding: 3px 3px 1px;
}

.markdown-body code {
  font-family: 'Cascadia Code';
  font-size: 0.9em;
  padding: 1px 3px;
  background-color: var(--g-color-96) !important;
  color: var(--g-color-20);
}

.markdown-body .katex {
  font-family: KaTeX_Main, SourceHanSans;
  font-size: 1.1em;
  line-height: 1.2;
  letter-spacing: normal;
}

.markdown-body .katex .cjk_fallback {
  font-size: 0.909091em;
}

.markdown-body .katex::before, .markdown-body .katex::after,
.markdown-body .katex .cjk_fallback::before,
.markdown-body .katex .cjk_fallback::after {
  content: ' ';
}

.markdown-body a {
  color: #1088c8 !important;
  text-decoration: none;
  padding-bottom: 0.1em;
}

.markdown-body a:hover {
  border-bottom: 1.5px solid #1088c850;
}

.markdown-body a::after {
  display: none !important;
}

.markdown-body hr.footnote-sep {
  display: none;
}

.markdown-body .footnotes {
  font-size: 0.75em;
}

.markdown-body .footnotes .footnote-backref {
  vertical-align: 0 !important;
}

.markdown-body pre {
  font-size: 0.9em;
  padding: 0.5em;
}

.markdown-body pre .p-mcc-language {
  top: -5px !important;
  right: -5px !important;
  font-family: 'Cascadia Code';
}

.markdown-body pre .p-mcc-copy-btn {
  position: absolute !important;
  top: -8px !important;
  right: -8px !important;
  display: block !important;
  line-height: 0;
  text-indent: 0.5px;
}

.markdown-body pre > code {
  font-family: 'Cascadia Code' !important;
  padding: initial;
  white-space: pre-wrap !important;
}

.markdown-body pre > code .hljs-ln-numbers {
  box-shadow: none !important;
}

.markdown-body ol.implies {
  counter-reset: ol-number ol-number1 1;
}

.markdown-body ol.implies > li {
  counter-increment: ol-number ol-number1;
  margin-left: 3.5em;
}

.markdown-body ol.implies > li::marker {
  content: "(" counter(ol-number) ") ⇒ (" counter(ol-number1) "). ";
}

.markdown-body ol.implies > li:last-child::marker {
  content: "(" counter(ol-number) ") ⇒ (1). ";
}

.markdown-body .task-list-item-checkbox {
  outline: 1px solid var(--g-color-60);
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  vertical-align: -0.15em;
  accent-color: var(--g-color-96);
}

.markdown-body .task-list-item-checkbox:not(:checked) {
  appearance: none;
}

.markdown-body table:not([data-lang]) {
  border-collapse: collapse;
  line-height: normal;
}

.markdown-body table:not([data-lang]) th,
.markdown-body table:not([data-lang]) td {
  padding: 0.5em;
  border: 0.5px solid var(--g-color-60) !important;
}

.markdown-body table:not([data-lang]) tr {
  background-color: var(--g-color-96);
}

.markdown-body table:not([data-lang]) th {
  font-weight: normal;
  text-align: center !important;
}

.markdown-body table:not([data-lang]) tr > td:first-child::before {
  font-family: 'Cascadia Code' !important;
  line-height: 1.4;
}

.markdown-body table:not([data-lang]).notation td {
  border: none !important;
  padding: 0.15em 0.5em;
}

.markdown-body img:not([width]) {
  width: auto;
  max-width: 100%;
  margin: 1em 0;
}

[app-theme=dark] .markdown-body img.auto-invert, [app-theme=dark]
.markdown-body .auto-invert img {
  filter: invert(1) !important;
}

@media (prefers-color-scheme: dark) {
  [app-theme=system] .markdown-body img.auto-invert, [app-theme=system]
  .markdown-body .auto-invert img {
    filter: invert(1) !important;
  }
}

.markdown-body hr {
  border: initial;
  border-bottom: 1px solid;
}

.markdown-body .custom-container {
  padding: 1em !important;
  margin: 1em 0 !important;
  line-height: normal;
  page-break-inside: avoid;
}

.markdown-body .custom-container > .custom-container-title {
  margin: 0 0 0.5em !important;
}

.markdown-body .custom-container.has-title > :nth-child(2),
.markdown-body .custom-container:not(.has-title) > :first-child {
  margin-top: 0;
}

.markdown-body .custom-container > :last-child {
  margin-bottom: 0;
}

.markdown-body .custom-container.details.has-title > :nth-child(2),
.markdown-body .custom-container.details:not(.has-title) > :first-child {
  margin-top: 0.5em !important;
}

.markdown-body .custom-container.row {
  border: none !important;
  padding: 0 !important;
}

.markdown-body .custom-container.row.has-title {
  padding-top: 1.8em !important;
}

.markdown-body .custom-container.row > .custom-container-title {
  top: 0 !important;
  padding-left: 0 !important;
  text-indent: 8px;
}

.markdown-body .custom-container.row > .col {
  margin: 0 !important;
}

.markdown-body .custom-container.group {
  padding: 0 !important;
}

.markdown-body .custom-container.group > .custom-container-title {
  margin: 0 !important;
}

.markdown-body .custom-container.group > .group-item-content {
  padding: 1em !important;
}

.markdown-body .custom-container.group > .group-item-content > :first-child {
  margin-top: 0;
}

.markdown-body .custom-container.group > .group-item-content > :last-child {
  margin-bottom: 0;
}

.markdown-body .theorem {
  padding: 0.8em 1.2em;
  position: relative;
  page-break-inside: avoid;
}

.markdown-body .theorem > *,
.markdown-body .theorem > ol > li > *,
.markdown-body .theorem > ul > li > * {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body .theorem > p {
  text-indent: 1em;
}

.markdown-body .theorem > ol:not(.implies) {
  counter-reset: ol-number;
}

.markdown-body .theorem > ol:not(.implies) > li {
  counter-increment: ol-number;
}

.markdown-body .theorem > ol:not(.implies) > li::marker {
  content: "(" counter(ol-number) "). ";
}

.markdown-body .theorem::after {
  border: 1px solid;
  width: 0.9em;
  height: 0.9em;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0.5em;
}
