@font-face {
    font-family: CMUSerif;
    src: url(./fonts/CMUSerif.woff2);
}

@font-face {
    font-family: CMUSerif;
    font-weight: bold;
    src: url(./fonts/CMUSerif-Bold.woff2);
}

@font-face {
    font-family: CMUSerif;
    font-style: italic;
    src: url(./fonts/CMUSerif-Italic.woff2);
}

@font-face {
    font-family: CMUSerif;
    font-weight: bold;
    font-style: italic;
    src: url(./fonts/CMUSerif-BoldItalic.woff2);
}

@font-face {
    font-family: CMUTypewriter;
    src: url(./fonts/CMUTypewriter.woff2);
}

@font-face {
    font-family: CMUTypewriter;
    font-weight: bold;
    src: url(./fonts/CMUTypewriter-Bold.woff2);
}

@font-face {
    font-family: CMUTypewriter;
    font-style: italic;
    src: url(./fonts/CMUTypewriter-Italic.woff2);
}

@font-face {
    font-family: CMUTypewriter;
    font-weight: bold;
    font-style: italic;
    src: url(./fonts/CMUTypewriter-BoldItalic.woff2);
}

@font-face {
    font-family: SourceHanSerif;
    font-weight: 100 900;
    src: url(./fonts/SourceHanSerifSC-VF.otf); // woff2 格式会读取出错
}

@font-face {
    font-family: KaiTi;
    font-weight: normal;
    src: local(KaiTi)
}

@font-face {
    font-family: KaiTi;
    font-weight: bold;
    src: url(./fonts/SourceHanSerifSC-VF.otf);
}

@mixin skip-number {
    &::before {
        display: none !important;
    }
}

@media print {
    @page {
        margin: 2.5cm 2cm;
    }
}

.outline-toc {

    > .skip-number,
    > .reference {
        @include skip-number;
    }
}

.markdown-body {
    font-size: 12pt;
    font-family: CMUSerif, SourceHanSerif;
    line-height: 1.8;
    text-align: justify;
    max-width: 17cm !important;
    margin: auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1em 0;

        &::before {
            margin-right: 1em;
        }

        &.skip-number {
            @include skip-number;
        }
    }

    h1 {
        font-size: 20.7pt;
        text-align: center;
        page-break-before: always;

        + p {
            font-size: 14.4pt;
            text-align: center;
            line-height: 2.3;
        }
    }

    h2 {
        font-size: 17.2pt;
        text-align: center;
        page-break-before: always;

        &.show-number::before {
            content: counter(h2counter) !important;
        }

        &.reference {
            @include skip-number;

            + ol {
                counter-reset: li;

                > li {
                    counter-increment: li;
                    margin: 1em 0;

                    &::marker {
                        content: '[' counter(li) ']    ';
                    }
                }
            }
        }
    }

    h3 {
        font-size: 14.4pt;
        background-color: #ff73ff40; // #ffdcff
        margin-left: -0.5em;
        padding-left: 0.5em;

        &.show-number::before {
            content: counter(h2counter) '.' counter(h3counter) !important;
        }
    }

    h4 {
        font-size: 13.5pt;

        &.show-number::before {
            content: counter(h2counter) '.' counter(h3counter) '.' counter(h4counter) !important;
        }
    }

    h5 {
        font-size: 13pt;

        &.show-number::before {
            content: counter(h2counter) '.' counter(h3counter) '.' counter(h4counter) '.' counter(h5counter) !important;
        }
    }

    h6 {
        font-size: 12.5pt;

        &.show-number::before {
            content: counter(h2counter) '.' counter(h3counter) '.' counter(h4counter) '.' counter(h5counter) '.' counter(h6counter) !important;
        }
    }

    .table-of-contents {
        page-break-before: always;

        &::before {
            content: '目录' !important;
            display: block;
            font-size: 17.2pt;
            font-weight: bold;
            text-align: center;
        }

        a {
            color: var(--g-color-0);
        }

        li::before {
            content: counters(ol-number, '.') !important;
            margin-right: 0.5em;
        }
    }

    html .markdown-view & mark {
        background-color: yellow !important;
    }

    code {
        font-family: CMUTypewriter, SourceHanSerif;
        padding: 3px 3px 0;
        background-color: var(--g-color-96) !important;
    }

    .katex {
        font-family: KaTeX_Main, SourceHanSerif;
        font-size: 1em;

        &,
        .cjk_fallback {

            &::before,
            &::after {
                content: ' ';
            }
        }
    }

    a {
        text-decoration: none;

        [app-theme=light] & {
            color: blue !important;
        }

        @media (prefers-color-scheme: light) {
            [app-theme=system] & {
                color: blue !important;
            }
        }

        &:hover {
            text-decoration: underline;
        }

        &::after {
            display: none !important;
        }
    }

    .footnotes {
        font-size: 0.75em;

        .footnote-backref {
            display: none;
        }
    }

    pre {
        padding: 0.5em;

        .p-mcc-language {
            top: -5px !important;
            right: -5px !important;
            font-family: CMUTypewriter, SourceHanSerif;
        }

        .p-mcc-copy-btn {
            position: absolute !important;
            top: -8px !important;
            right: -8px !important;
            display: block !important;
            line-height: 0;
            text-indent: 0.5px;
        }

        > code {
            font-family: CMUTypewriter, SourceHanSerif !important;
            padding: initial;
            white-space: pre-wrap !important;

            .hljs-ln-numbers {
                box-shadow: none !important;
            }
        }
    }

    ol.implies {
        counter-reset: ol-number ol-number1 1;

        > li {
            counter-increment: ol-number ol-number1;
            margin-left: 3.5em;

            &::marker {
                content: '(' counter(ol-number) ') ⇒ (' counter(ol-number1) '). ';
            }

            &:last-child::marker {
                content: '(' counter(ol-number) ') ⇒ (1). ';
            }
        }
    }

    .task-list-item-checkbox {
        outline: 1px solid var(--g-color-0);
        width: 1em;
        height: 1em;
        margin-right: 0.2em;
        vertical-align: -0.2em;
        accent-color: var(--g-background-color);

        &:not(:checked) {
            appearance: none;
        }
    }

    table:not([data-lang]) {
        border-collapse: collapse;
        line-height: normal;
        width: 100%;

        th,
        td {
            padding: 0.5em;
            border: 0.5px solid var(--g-color-0) !important;
        }

        tr {
            background-color: transparent !important;
        }

        th {
            text-align: center !important;
        }

        tr > td:first-child::before {
            font-family: CMUTypewriter, SourceHanSerif !important;
            line-height: 1.4;
        }

        &.notation td {
            border: none !important;
            padding: 0.15em 0.5em;
        }
    }

    img {
        &:not([width]) {
            width: auto;
            max-width: 100%;
            margin: 1em 0;
        }
    }

    img.auto-invert,
    .auto-invert img {

        [app-theme=dark] &,
        [app-theme=dark] &:hover {
            filter: invert(1);
        }

        @media (prefers-color-scheme: dark) {

            [app-theme=system] &,
            [app-theme=system] &:hover {
                filter: invert(1);
            }
        }

        @media print {
            & {
                filter: none !important;
            }
        }
    }

    hr {
        border: initial;
        border-bottom: 1px solid var(--g-color-0) !important;
    }

    .custom-container {
        padding: 1em !important;
        margin: 1em 0 !important;
        line-height: normal;
        border-radius: 0 !important;
        page-break-inside: avoid;

        > .custom-container-title {
            margin: 0 0 0.5em !important;
            border-radius: 0 !important;
        }

        &.has-title > :nth-child(2),
        &:not(.has-title) > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        &.details {

            &.has-title > :nth-child(2),
            &:not(.has-title) > :first-child {
                margin-top: 0.5em !important;
            }
        }

        &.row {
            border: none !important;
            padding: 0 !important;

            &.has-title {
                padding-top: 1.8em !important;
            }

            > .custom-container-title {
                top: 0 !important;
                padding-left: 0 !important;
                text-indent: 8px;
            }

            > .col {
                margin: 0 !important;
            }
        }

        &.group {
            padding: 0 !important;

            > .custom-container-title {
                margin: 0 !important;
            }

            > .group-item-label {
                border-radius: 0 !important;
            }

            > .group-item-content {
                padding: 1em !important;
                border-radius: 0 !important;

                > :first-child {
                    margin-top: 0;
                }

                > :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .theorem {
        padding: 0.2em 0.5em;
        position: relative;
        font-family: CMUSerif, KaiTi;
        page-break-inside: avoid;

        > .theorem-info {
            word-spacing: -0.1em;
            font-family: CMUSerif, SourceHanSerif;
        }

        > *,
        > ol > li > *,
        > ul > li > * {
            margin-top: 0;
            margin-bottom: 0;
        }

        > p {
            text-indent: 1em;
        }

        > ol:not(.implies) {
            counter-reset: ol-number;

            > li {
                counter-increment: ol-number;

                &::marker {
                    content: '(' counter(ol-number) '). ';
                }
            }
        }

        &::after {
            border: 1px solid;
            width: 0.8em;
            height: 0.8em;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0.4em;
        }
    }
}