@charset "UTF-8";
@font-face {
  font-family: CMUSerif;
  src: url(./fonts/CMUSerif.woff2);
}

@font-face {
  font-family: CMUSerif;
  font-weight: bold;
  src: url(./fonts/CMUSerif-Bold.woff2);
}

@font-face {
  font-family: CMUSerif;
  font-style: italic;
  src: url(./fonts/CMUSerif-Italic.woff2);
}

@font-face {
  font-family: CMUSerif;
  font-weight: bold;
  font-style: italic;
  src: url(./fonts/CMUSerif-BoldItalic.woff2);
}

@font-face {
  font-family: CMUTypewriter;
  src: url(./fonts/CMUTypewriter.woff2);
}

@font-face {
  font-family: CMUTypewriter;
  font-weight: bold;
  src: url(./fonts/CMUTypewriter-Bold.woff2);
}

@font-face {
  font-family: CMUTypewriter;
  font-style: italic;
  src: url(./fonts/CMUTypewriter-Italic.woff2);
}

@font-face {
  font-family: CMUTypewriter;
  font-weight: bold;
  font-style: italic;
  src: url(./fonts/CMUTypewriter-BoldItalic.woff2);
}

@font-face {
  font-family: SourceHanSerif;
  font-weight: 100 900;
  src: url(./fonts/SourceHanSerifSC-VF.otf);
}

@font-face {
  font-family: KaiTi;
  font-weight: normal;
  src: local(KaiTi);
}

@font-face {
  font-family: KaiTi;
  font-weight: bold;
  src: url(./fonts/SourceHanSerifSC-VF.otf);
}

@media print {
  @page {
    margin: 2.5cm 2cm;
  }
}

.outline-toc > .skip-number::before,
.outline-toc > .reference::before {
  display: none !important;
}

.markdown-body {
  font-size: 12pt;
  font-family: CMUSerif, SourceHanSerif;
  line-height: 1.8;
  text-align: justify;
  max-width: 17cm !important;
  margin: auto;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin: 1em 0;
}

.markdown-body h1::before,
.markdown-body h2::before,
.markdown-body h3::before,
.markdown-body h4::before,
.markdown-body h5::before,
.markdown-body h6::before {
  margin-right: 1em;
}

.markdown-body h1.skip-number::before,
.markdown-body h2.skip-number::before,
.markdown-body h3.skip-number::before,
.markdown-body h4.skip-number::before,
.markdown-body h5.skip-number::before,
.markdown-body h6.skip-number::before {
  display: none !important;
}

.markdown-body h1 {
  font-size: 20.7pt;
  text-align: center;
  page-break-before: always;
}

.markdown-body h1 + p {
  font-size: 14.4pt;
  text-align: center;
  line-height: 2.3;
}

.markdown-body h2 {
  font-size: 17.2pt;
  text-align: center;
  page-break-before: always;
}

.markdown-body h2.show-number::before {
  content: counter(h2counter) !important;
}

.markdown-body h2.reference::before {
  display: none !important;
}

.markdown-body h2.reference + ol {
  counter-reset: li;
}

.markdown-body h2.reference + ol > li {
  counter-increment: li;
  margin: 1em 0;
}

.markdown-body h2.reference + ol > li::marker {
  content: "[" counter(li) "]    ";
}

.markdown-body h3 {
  font-size: 14.4pt;
  background-color: #ff73ff40;
  margin-left: -0.5em;
  padding-left: 0.5em;
}

.markdown-body h3.show-number::before {
  content: counter(h2counter) "." counter(h3counter) !important;
}

.markdown-body h4 {
  font-size: 13.5pt;
}

.markdown-body h4.show-number::before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) !important;
}

.markdown-body h5 {
  font-size: 13pt;
}

.markdown-body h5.show-number::before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) !important;
}

.markdown-body h6 {
  font-size: 12.5pt;
}

.markdown-body h6.show-number::before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) !important;
}

.markdown-body .table-of-contents {
  page-break-before: always;
}

.markdown-body .table-of-contents::before {
  content: '目录' !important;
  display: block;
  font-size: 17.2pt;
  font-weight: bold;
  text-align: center;
}

.markdown-body .table-of-contents a {
  color: var(--g-color-0);
}

.markdown-body .table-of-contents li::before {
  content: counters(ol-number, ".") !important;
  margin-right: 0.5em;
}

html .markdown-view .markdown-body mark {
  background-color: yellow !important;
}

.markdown-body code {
  font-family: CMUTypewriter, SourceHanSerif;
  padding: 3px 3px 0;
  background-color: var(--g-color-96) !important;
}

.markdown-body .katex {
  font-family: KaTeX_Main, SourceHanSerif;
  font-size: 1em;
}

.markdown-body .katex::before, .markdown-body .katex::after,
.markdown-body .katex .cjk_fallback::before,
.markdown-body .katex .cjk_fallback::after {
  content: ' ';
}

.markdown-body a {
  text-decoration: none;
}

[app-theme=light] .markdown-body a {
  color: blue !important;
}

@media (prefers-color-scheme: light) {
  [app-theme=system] .markdown-body a {
    color: blue !important;
  }
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body a::after {
  display: none !important;
}

.markdown-body .footnotes {
  font-size: 0.75em;
}

.markdown-body .footnotes .footnote-backref {
  display: none;
}

.markdown-body pre {
  padding: 0.5em;
}

.markdown-body pre .p-mcc-language {
  top: -5px !important;
  right: -5px !important;
  font-family: CMUTypewriter, SourceHanSerif;
}

.markdown-body pre .p-mcc-copy-btn {
  position: absolute !important;
  top: -8px !important;
  right: -8px !important;
  display: block !important;
  line-height: 0;
  text-indent: 0.5px;
}

.markdown-body pre > code {
  font-family: CMUTypewriter, SourceHanSerif !important;
  padding: initial;
  white-space: pre-wrap !important;
}

.markdown-body pre > code .hljs-ln-numbers {
  box-shadow: none !important;
}

.markdown-body ol.implies {
  counter-reset: ol-number ol-number1 1;
}

.markdown-body ol.implies > li {
  counter-increment: ol-number ol-number1;
  margin-left: 3.5em;
}

.markdown-body ol.implies > li::marker {
  content: "(" counter(ol-number) ") ⇒ (" counter(ol-number1) "). ";
}

.markdown-body ol.implies > li:last-child::marker {
  content: "(" counter(ol-number) ") ⇒ (1). ";
}

.markdown-body .task-list-item-checkbox {
  outline: 1px solid var(--g-color-0);
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
  vertical-align: -0.2em;
  accent-color: var(--g-background-color);
}

.markdown-body .task-list-item-checkbox:not(:checked) {
  appearance: none;
}

.markdown-body table:not([data-lang]) {
  border-collapse: collapse;
  line-height: normal;
  width: 100%;
}

.markdown-body table:not([data-lang]) th,
.markdown-body table:not([data-lang]) td {
  padding: 0.5em;
  border: 0.5px solid var(--g-color-0) !important;
}

.markdown-body table:not([data-lang]) tr {
  background-color: transparent !important;
}

.markdown-body table:not([data-lang]) th {
  text-align: center !important;
}

.markdown-body table:not([data-lang]) tr > td:first-child::before {
  font-family: CMUTypewriter, SourceHanSerif !important;
  line-height: 1.4;
}

.markdown-body table:not([data-lang]).notation td {
  border: none !important;
  padding: 0.15em 0.5em;
}

.markdown-body img:not([width]) {
  width: auto;
  max-width: 100%;
  margin: 1em 0;
}

[app-theme=dark] .markdown-body img.auto-invert,
[app-theme=dark] .markdown-body img.auto-invert:hover, [app-theme=dark]
.markdown-body .auto-invert img,
[app-theme=dark]
.markdown-body .auto-invert img:hover {
  filter: invert(1);
}

@media (prefers-color-scheme: dark) {
  [app-theme=system] .markdown-body img.auto-invert,
  [app-theme=system] .markdown-body img.auto-invert:hover, [app-theme=system]
  .markdown-body .auto-invert img,
  [app-theme=system]
  .markdown-body .auto-invert img:hover {
    filter: invert(1);
  }
}

@media print {
  .markdown-body img.auto-invert,
  .markdown-body .auto-invert img {
    filter: none !important;
  }
}

.markdown-body hr {
  border: initial;
  border-bottom: 1px solid var(--g-color-0) !important;
}

.markdown-body .custom-container {
  padding: 1em !important;
  margin: 1em 0 !important;
  line-height: normal;
  border-radius: 0 !important;
  page-break-inside: avoid;
}

.markdown-body .custom-container > .custom-container-title {
  margin: 0 0 0.5em !important;
  border-radius: 0 !important;
}

.markdown-body .custom-container.has-title > :nth-child(2),
.markdown-body .custom-container:not(.has-title) > :first-child {
  margin-top: 0;
}

.markdown-body .custom-container > :last-child {
  margin-bottom: 0;
}

.markdown-body .custom-container.details.has-title > :nth-child(2),
.markdown-body .custom-container.details:not(.has-title) > :first-child {
  margin-top: 0.5em !important;
}

.markdown-body .custom-container.row {
  border: none !important;
  padding: 0 !important;
}

.markdown-body .custom-container.row.has-title {
  padding-top: 1.8em !important;
}

.markdown-body .custom-container.row > .custom-container-title {
  top: 0 !important;
  padding-left: 0 !important;
  text-indent: 8px;
}

.markdown-body .custom-container.row > .col {
  margin: 0 !important;
}

.markdown-body .custom-container.group {
  padding: 0 !important;
}

.markdown-body .custom-container.group > .custom-container-title {
  margin: 0 !important;
}

.markdown-body .custom-container.group > .group-item-label {
  border-radius: 0 !important;
}

.markdown-body .custom-container.group > .group-item-content {
  padding: 1em !important;
  border-radius: 0 !important;
}

.markdown-body .custom-container.group > .group-item-content > :first-child {
  margin-top: 0;
}

.markdown-body .custom-container.group > .group-item-content > :last-child {
  margin-bottom: 0;
}

.markdown-body .theorem {
  padding: 0.2em 0.5em;
  position: relative;
  font-family: CMUSerif, KaiTi;
  page-break-inside: avoid;
}

.markdown-body .theorem > .theorem-info {
  word-spacing: -0.1em;
  font-family: CMUSerif, SourceHanSerif;
}

.markdown-body .theorem > *,
.markdown-body .theorem > ol > li > *,
.markdown-body .theorem > ul > li > * {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body .theorem > p {
  text-indent: 1em;
}

.markdown-body .theorem > ol:not(.implies) {
  counter-reset: ol-number;
}

.markdown-body .theorem > ol:not(.implies) > li {
  counter-increment: ol-number;
}

.markdown-body .theorem > ol:not(.implies) > li::marker {
  content: "(" counter(ol-number) "). ";
}

.markdown-body .theorem::after {
  border: 1px solid;
  width: 0.8em;
  height: 0.8em;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0.4em;
}
