@font-face {
    font-family: FandolKaiMixed;
    src: local(FandolKai);
}

@font-face {
    font-family: FandolKaiMixed;
    src: local(FandolSong);
    unicode-range: U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

@font-face {
    font-family: FandolKaiMixed;
    font-weight: bold;
    src: local(FandolSong-Bold);
}

@mixin skip-number {
    &::before {
        display: none !important;
    }
}

@media print {
    @page {
        margin: 2.5cm 2cm;
    }
}

.markdown-body {
    font-size: 12pt;
    font-family: FandolSong;
    line-height: 1.8;
    text-align: justify;
    max-width: 17cm !important;
    margin: auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1em 0;

        &::before {
            margin-right: 1em;
        }

        &:not(.show-number) {
            @include skip-number;
        }
    }

    h1 {
        font-size: 20.7pt;
        text-align: center;

        + p {
            font-size: 14.4pt;
            text-align: center;
            line-height: 2.3;
        }
    }

    h2 {
        font-size: 17.2pt;
        text-align: center;
        page-break-before: always;

        &::before {
            content: counter(h2counter) !important;
        }

        &.reference {
            @include skip-number;

            + ol {
                counter-reset: li;

                > li {
                    counter-increment: li;
                    margin: 1em 0;

                    &::marker {
                        content: '[' counter(li) ']    ';
                    }
                }
            }
        }
    }

    h3 {
        font-size: 14.4pt;
        background-color: #ff73ff40; // #ffdcff
        margin-left: -0.5em;
        padding-left: 0.5em;

        &::before {
            content: counter(h2counter) '.' counter(h3counter) !important;
        }
    }

    h4 {
        font-size: 13.5pt;

        &::before {
            content: counter(h2counter) '.' counter(h3counter) '.' counter(h4counter) !important;
        }
    }

    h5 {
        font-size: 13pt;

        &::before {
            content: counter(h2counter) '.' counter(h3counter) '.' counter(h4counter) '.' counter(h5counter) !important;
        }
    }

    h6 {
        font-size: 12.5pt;

        &::before {
            content: counter(h2counter) '.' counter(h3counter) '.' counter(h4counter) '.' counter(h5counter) '.' counter(h6counter) !important;
        }
    }

    .table-of-contents {

        &::before {
            content: '目录' !important;
            display: block;
            font-size: 17.2pt;
            font-weight: bold;
            text-align: center;
        }

        a {
            color: var(--g-color-0);
        }
    }

    html .markdown-view & mark {
        background-color: yellow !important;
    }

    code {
        font-family: Consolas, FandolSong;
        font-size: 0.9em;
        padding: 1px 3px;
        background-color: var(--g-color-96) !important;
    }

    .katex {
        font-family: KaTeX_Main, FandolSong;
        font-size: 1em;

        &::before,
        &::after {
            content: ' ';
        }
    }

    a {
        text-decoration: none;

        [app-theme="light"] & {
            color: blue !important;
        }

        @media (prefers-color-scheme: light) {
            html[app-theme=system] & {
                color: blue !important;
            }
        }

        &:hover {
            text-decoration: underline;
        }

        &::after {
            display: none !important;
        }
    }

    .footnotes {
        font-size: 0.75em;

        .footnote-backref {
            display: none;
        }
    }

    pre {
        font-size: 0.9em;
        padding: 0.5em;

        .p-mcc-language {
            top: -5px !important;
            right: -5px !important;
            font-family: Consolas, FandolSong;
        }

        .p-mcc-copy-btn {
            position: absolute !important;
            top: -8px !important;
            right: -8px !important;
            display: block !important;
            line-height: 0;
            text-indent: 0.5px;
        }

        > code {
            font-family: Consolas, FandolSong !important;
            padding: initial;
        }
    }

    .task-list-item-checkbox {
        outline: 1px solid var(--g-color-0);
        width: 1em;
        height: 1em;
        margin-right: 0.2em;
        vertical-align: -0.2em;
        accent-color: var(--g-background-color);

        &:not(:checked) {
            appearance: none;
        }
    }

    table:not([data-lang]) {
        border-collapse: collapse;
        line-height: normal;
        width: 100%;

        th,
        td {
            padding: 0.5em;
            border: 0.5px solid var(--g-color-0) !important;
        }

        tr {
            background-color: transparent !important;
        }

        th {
            text-align: center !important;
        }

        tr > td:first-child::before {
            font-family: Consolas, FandolSong !important;
            line-height: 1.4;
        }
    }

    img {
        width: 100%;
    }

    hr {
        border: initial;
        border-bottom: 1px solid var(--g-color-0) !important;
    }

    .custom-container {
        padding: 1em !important;
        margin: 1em 0 !important;
        line-height: normal;
        border-radius: 0 !important;
        page-break-inside: avoid;

        > .custom-container-title {
            margin: 0 0 0.5em !important;
            border-radius: 0 !important;
        }

        &.has-title > :nth-child(2),
        &:not(.has-title) > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }

        &.details {

            &.has-title > :nth-child(2),
            &:not(.has-title) > :first-child {
                margin-top: 0.5em !important;
            }
        }

        &.row {
            border: none !important;
            padding: 0 !important;

            &.has-title {
                padding-top: 1.8em !important;
            }

            > .custom-container-title {
                top: 0 !important;
                padding-left: 0 !important;
                text-indent: 8px;
            }

            > .col {
                margin: 0 !important;
            }
        }

        &.group {
            padding: 0 !important;

            > .custom-container-title {
                margin: 0 !important;
            }

            > .group-item-label {
                border-radius: 0 !important;
            }

            > .group-item-content {
                padding: 1em !important;
                border-radius: 0 !important;

                > :first-child {
                    margin-top: 0;
                }

                > :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

[math-env] {
    padding: 0.2em 0.5em;
    position: relative;
    font-family: FandolKaiMixed;
    page-break-inside: avoid;

    > [math-env-title] {
        word-spacing: -0.1em;
        font-family: FandolSong;

        &::before,
        &::after {
            font-weight: bold;
        }

        &::after {
            margin-right: 0.5em;
        }
    }

    > * {
        margin: 0;
    }

    > p {
        text-indent: 1em;
    }

    > ol {
        counter-reset: li;

        > li {
            counter-increment: li;

            &::marker {
                content: '(' counter(li) '). ';
            }
        }
    }

    &::after {
        border: 1px solid;
        width: 0.8em;
        height: 0.8em;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0.4em;
    }
}

// background hsv(h, 0.07, 1)

/* MathEnv Template
return (attr.hue === undefined ? `
[math-env="${name}"] {
    padding: 0;
}
` : `
[math-env="${name}"] {
	background-color: hsla(${attr.hue}, 100%, 86%, 25%);
}
`) + (attr.proof ? `
[math-env="${name}"] {
    font-family: FandolSong;
    page-break-inside: auto;
}

[math-env="${name}"]::after {
    content: "";
}

[math-env-title="${name}"]::before,
[math-env-title="${name}"]::after {
    font-family: FandolKaiMixed;
    font-weight: normal !important;
}
` : '')
*/

/* MathEnv Environment
{
	"axiom": {
		"text": "公理",
		"counter": {
			"level": 1
		},
		"hue": 0
	},
	"definition": {
		"text": "定义",
		"counter": {
			"level": 2
		},
		"hue": 120
	},
	"theorem": {
		"text": "定理",
		"counter": {
			"level": 3
		},
		"hue": 18
	},
	"proposition": {
		"text": "命题",
		"counter": {
			"identifier": "theorem"
		},
		"hue": 200
	},
	"lemma": {
		"text": "引理",
		"counter": {
			"identifier": "theorem"
		},
		"hue": 45
	},
	"corollary": {
		"text": "推论",
		"counter": {
			"identifier": "theorem"
		},
		"hue": 45
	},
	"property": {
		"text": "性质",
		"counter": {
			"identifier": "theorem"
		},
		"hue": 250
	},
	"problem": {
		"text": "问题",
		"counter": {
			"level": 3
		}
	},
	"example": {
		"text": "例",
		"counter": {
			"level": 3
		}
	},
	"exercise": {
		"text": "练习",
		"counter": {
			"level": 3
		}
	},
	"note": {
		"text": "笔记"
	},
	"conclusion": {
		"text": "结论"
	},
	"assumption": {
		"text": "假设"
	},
	"remark": {
		"text": "注"
	},
	"solution": {
		"text": "解",
        "proof": true
	},
	"proof": {
		"text": "证明",
        "proof": true
	}
}
*/